.root {
  font-family: sans-serif;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 20px 30px;
  margin-top: 1em;
  margin-bottom: 40px;
  overflow-x: auto;
}

.tab-button {
  padding: 6px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #f0f0f0;
  margin-bottom: -1px;
  margin-right: -1px;
}

.tab-button:hover {
  background: #e0e0e0;
}

.tab-button.active {
  background: #e0e0e0;
  border-top-color: blue;
  border-top-width: medium;
}

.tab {
  border: 1px solid #ccc;
  padding: 10px;
}

.my_tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.my_tooltip .my_tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 1em;
  border-radius: 6px;
  font-size: small;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.my_tooltip:hover .my_tooltiptext {
  visibility: visible;
}